.gatekeeper-sign-up {
  .mdc-form {
    display: flex;
    flex-direction: column;
  }

  &__username, &__password, &__email, &__confirm-password {
    width: 100%;
    margin-bottom: 16px;

    .mdc-text-field {
      width: 100%;
    }
  }

  &__actions {
    margin-top: 16px;

    display: flex;
    flex-direction: row;

    align-items: center;
  }

  .mdc-button[type="submit"] {
    width: 100%;
  }
}
