<h5>Stock Components</h5>

<ul>
  <li><LinkTo @route="sign-in.standard">Standard</LinkTo></li>
  <li><LinkTo @route="sign-in.recaptcha-v2">Recaptcha - v2</LinkTo></li>
  <li><LinkTo @route="sign-in.recaptcha-invisible">Recaptcha - invisible</LinkTo></li>
</ul>

<h5>Custom Components</h5>

<ul>
  <li><LinkTo @route="sign-in.custom">Custom</LinkTo></li>
  <li><LinkTo @route="sign-in.custom-recaptcha">Recaptcha</LinkTo></li>
</ul>

<h5>Client</h5>

{{#if this.gatekeeper.isAuthenticated}}
  <p>The client has been authenticated.</p>
{{else}}
  <p>
    <button {{on "click" this.authenticate}}>Click to authenticate the client</button>
  </p>
{{/if}}

<GRecaptchaInvisible @verified={{this.verified}} @execute={{this.execute}} />
