Stock Components

<ul>
  <li>{{#link-to "sign-in.standard"}}Standard{{/link-to}}</li>
  <li>{{#link-to "sign-in.recaptcha-v2"}}Recaptcha - v2{{/link-to}}</li>
  <li>{{#link-to "sign-in.recaptcha-invisible"}}Recaptcha - invisible{{/link-to}}</li>
</ul>

Custom Components

<ul>
  <li>{{#link-to "sign-in.custom"}}Custom{{/link-to}}</li>
  <li>{{#link-to "sign-in.custom-recaptcha"}}Recaptcha{{/link-to}}</li>
</ul>
