Stock Components

<ul>
  <li><LinkTo @route="sign-in.standard">Standard</LinkTo></li>
  <li><LinkTo @route="sign-in.recaptcha-v2">Recaptcha - v2</LinkTo></li>
  <li><LinkTo @route="sign-in.recaptcha-invisible">Recaptcha - invisible</LinkTo></li>
</ul>

Custom Components

<ul>
  <li><LinkTo @route="sign-in.custom">Custom</LinkTo></li>
  <li><LinkTo @route="sign-in.custom-recaptcha">Recaptcha</LinkTo></li>
</ul>
