.gatekeeper-sign-in {
  .gatekeeper-sign-in--input-controls {
    padding: 16px;

    display: flex;

    .mdc-text-field__icon:focus {
      outline: none;
    }
  }

  /**
   * Styles specific to the vertical display.
   */
  &:not(.gatekeeper-sign-in--horizontal) {
    .gatekeeper-sign-in--input-controls {
      flex-direction: column;

      .gatekeeper-sign-in--input {
        margin-bottom: 16px;
      }
    }

  }

  /**
   * Styles specific to a horizontal display.
   */
  &.gatekeeper-sign-in--horizontal {
    .gatekeeper-sign-in--input-controls {
      flex-direction: row;
    }
  }

  &.gatekeeper-sign-in--recaptcha-v2 {
    .g-recaptcha {
      margin-bottom: 16px;
    }
  }
}
