<ul>
  <li><LinkTo @route="sign-up.standard">Standard</LinkTo></li>
  <li><LinkTo @route="sign-up.recaptcha-v2">Recaptcha - v2</LinkTo></li>
  <li><LinkTo @route="sign-up.recaptcha-invisible">Recaptcha - invisible</LinkTo></li>
</ul>
