@import "routes";

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;

  padding: 8px;
}

.container {
  padding: 16px;
}

.mdc-text-field {
  width: 100%;

  &-helper-line {
    min-height: 32px;
  }
}