<div class="gatekeeper-client-authenticated-container" ...attributes>
  {{yield this}}
</div>

{{#if @includeGoogleRecaptcha}}
  <GRecaptchaInvisible @execute={{this.execute}} @verified={{this.verified}} @verifying={{this.verifying}} />
{{/if}}
