{{#if errorMessage}}
  <div class="error-message">{{errorMessage}}</div>
{{/if}}

{{#mdl-form action="#" class="sign-in" submit=(action "signIn")}}
  <div>
    {{mdl-textfield type=usernameType
                    value=username
                    class="validate"
                    placeholder=usernamePlaceholder
                    required="required"
                    autocapitalize="none"
                    autocomplete=usernameAutoComplete
                    label=usernameLabelText
                    floatingLabel=usernameFloatingLabel
                    errorMessage=usernameErrorMessage}}
  </div>

  <div>
    {{mdl-textfield type=(if showPassword "text" "password")
                    autocomplete="off"
                    value=password
                    class="validate"
                    placeholder=passwordPlaceholder
                    required="required"
                    label=passwordLabelText
                    floatingLabel=passwordFloatingLabel
                    errorMessage=passwordErrorMessage}}
  </div>

  <div>
    {{mdl-submit class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
                 disabled=isSigningIn
                 value=(if isSigningIn signingInText signInText)}}
  </div>
{{/mdl-form}}
