<div class="row">
  {{#materialize-form class="col s12" submit=(action "signIn")}}
    <div class="row username">
      <div class="input-field col s12">
        {{materialize-textfield type=usernameType
                                value=username
                                class="username validate"
                                placeholder=usernamePlaceholder
                                required="required"
                                autocapitalize="none"
                                autocomplete=usernameAutoComplete
                                label=usernameLabelText
                                errorMessage=usernameErrorMessage}}
      </div>
    </div>

    <div class="row password">
      <div class="input-field col s12">
        {{materialize-textfield type=(if showPassword "text" "password")
                                autocomplete="off"
                                value=password
                                class="password validate"
                                placeholder=passwordPlaceholder
                                required="required"
                                label=passwordLabelText
                                errorMessage=passwordErrorMessage}}
      </div>
    </div>

    {{#if enableShowPassword}}
    <div class="row">
      <div class="col s12">
        {{materialize-checkbox class="filled-in" label="Show password" checked=showPassword}}
      </div>
    </div>
    {{/if}}

    <div class="row">
      <div class="col s12 center">
        {{materialize-submit class="btn waves-effect waves-light" disabled=isSigningIn value=(if isSigningIn signingInText signInText)}}
      </div>
    </div>

    {{#if routeForNewAccount}}
    <div class="row create-account">
      <div class="col s12 center">
        {{#link-to routeForNewAccount class="create-account"}}Do not have an account? Create one.{{/link-to}}
      </div>
    </div>
    {{/if}}
  {{/materialize-form}}
</div>
