<div style="padding: 16px">
  <h3 class="mdc-typography--headline4">Gatekeeper Demo</h3>

  <div>{{#link-to "unauthorized"}}Unauthorized Test{{/link-to}}</div>
  <div><a href="#" {{action "signOut" target=session}}>Sign Out</a></div>

  <h5 class="mdc-typography--headline6">Session Metadata</h5>

  {{#if supportsCreateAccount}}
    <p><strong>We can create an account!!</strong></p>
  {{/if}}

  {{#each-in metadata as |key value|}}
    <div>{{key}}: {{value}}</div>
  {{/each-in}}
</div>
