{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Gatekeeper"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <div style="padding: 16px">
      <div>{{#link-to "unauthorized"}}Unauthorized Test{{/link-to}}</div>
      <div><a href="#" {{action "signOut" target=gatekeeper}}>Sign Out</a></div>

      <h5>Session Metadata</h5>

      {{#if canCreateAccount}}
        <p><strong>We can create an account!!</strong></p>
      {{/if}}

      {{#each-in metadata as |key value|}}
        <div>{{key}}: {{value}}</div>
      {{/each-in}}
    </div>


  {{/mdl-layout-content}}
{{/mdl-layout}}
