<div style="padding: 16px">
  {{gatekeeper-sign-in-vertical usernameLabelText="Login"
                                errorMessage="This is an error message"
                                signInComplete=(action "signInComplete")


  }}
</div>
