{{#mdl-layout}}
  {{#mdl-layout-content}}
    {{gatekeeper-create-account}}

    <div class="sign-in">
      {{#link-to "sign-in" class="text-primary-light" replace=true}}Already have an account? Sign in.{{/link-to}}
    </div>

  {{/mdl-layout-content}}
{{/mdl-layout}}
